@media only screen and (max-width: 950px) {
  body {
    background-color: lightblue;
  }
}


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: white;
    text-align: center;
  }
  .fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
      clear: both;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
 
  .fa-github {
    background: black;
    color: white;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }